[Desktop Entry]
Type=Application
Name=bbq-predictor
GenericName=Weather Applet
Comment=High-resolution temperature and rain graphs in the tray
Exec=bbq-predictor
Icon=se.vibes.bbq-predictor
Terminal=false
Categories=Utility;
Keywords=weather;forecast;rain;temperature;
